:root {
    --color-border: rgba(0, 0, 0, 0.6);
    --color-bg-light: rgba(255, 255, 255, 1);
    --color-bg-dark: rgba(24, 24, 64, .75);
    --color-live: rgba(30, 92, 30, .9);
    --color-dead: rgba(255, 255, 255, .5);
}

html,
body {
    min-height: 100vh;
    min-width: 100vw;

    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--color-bg-dark);
}

body {
    padding: 3% 4%;
}

#layout {
    padding: 2rem;
    background-color: var(--color-bg-light);
    border: 1px solid var(--color-border);
}

.gol-game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
}

.gol-board,
.gol-buttons {
    margin: 1rem;
}

.gol-button {
    display: block;
    min-width: 5.5rem;
    height: 2.25rem;
    line-height: 1.125rem;
    padding: 0.6rem 1rem;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
    background-color: rgba(200, 200, 200, 0.4);
    border: 1px solid var(--color-bg-dark);
}

.gol-button:hover {
    box-shadow: .25rem .25rem .125rem rgba(0, 0, 0, 0.6);
}

.gol-button:active {
    box-shadow: 0 0 0 transparent;
}



.gol-buttons fieldset {
    display: flex;
    gap: 1rem;
}

.board-data-select-button {
    font-size: 1rem;
    background-color: rgba(200, 200, 200, 0.4);

}

input[type=radio] {
    display: none;
}

input[type="radio"]:checked+label {
    background-color: var(--color-live);
    color: var(--color-bg-light);
}

.gol-play-interval {
    display: block;
    font-size: 0.75rem;
}

.gol-play-interval-field {
    text-align: right;
}

.display-counter {
    display: inline;
    height: fit-content;
    padding: 0.25rem 0.5rem;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-bg-dark);
    text-align: center;
    font-size: 1rem;
    line-height: 1.25rem;
}
